@model List<CharacterSheetApp.Models.Character>
<h2>Characters:</h2>
<!-- We specify a Controller to let our form know which controller to find the action in. -->
<form asp-action="Create" asp-controller="Home">
    <div>
        <input name="CharacterName" />
        <input type="submit" value="Add Character" />
    </div>
</form>

<h2>Characters:</h2>
<div>
  <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
  </ul>
</div>
